* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #012B5A;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.form {
    background: linear-gradient(-45deg, #EC33A1, #EC33A1, #013F81);
    display: flex;
    flex-direction: column;
    border-radius: 0 0 8px 8px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
    margin-bottom: 30px;
    box-shadow: 15px 15px 25px rgba(0,0,0,0.4);
}

.form__submit {
    display: block;
    height: 40px;
    width: 170px;
    border-style: none;
    border-radius: 4px;
    font-size: 15px;
    transition: 500ms;
    background-color:#012B5A;
    color: #fff;
    box-shadow: 10px 10px 25px rgba(0,0,0,0.6);
    align-self: center;
}

.form__submit:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.tabla_datos {
    background: linear-gradient(-45deg, #EC33A1, #EC33A1, #013F81);
    border-radius: 8px 8px 0 0;
    min-height: 800px;
    box-shadow: 15px 15px 25px rgba(0,0,0,0.4);
    padding: 30px;
}

.tabla_datos__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tabla_datos__row--head {
    background-color: #557FAB;
}

.tabla_datos__row--body {
    background-color: #8DA9C7;
}

.tabla_datos__row__p {
    padding: 10px;
}